/* nav */
li a {
  cursor: pointer;
}
.btn-outline-success {
  color: #d2691e;
  border: 1px solid #d2691e;
}
.btn-outline-success:hover {
  background-color: #d2691e;
  border: 1px solid #d2691e;
}

/* main */

.text-center .title {
  font-size: 28px; 
  margin-bottom: 15px;
}
.text-center .star {
  margin-bottom: 15px;
}
.text-center button {
  color: white;
  background-color: #212529;
  border-radius: .25em;
  padding: 5px 12px;
  border: none;
}