/* nav */
li a {
  cursor: pointer;
}
.btn-outline-success {
  color: #d2691e;
  border: 1px solid #d2691e;
}
.btn-outline-success:hover {
  background-color: #d2691e;
  border: 1px solid #d2691e;
}

/* main */

.text-center .title {
  font-size: 28px; 
  margin-bottom: 15px;
}
.text-center .star {
  margin-bottom: 15px;
}
.text-center button {
  color: white;
  background-color: #212529;
  border-radius: .25em;
  padding: 5px 12px;
  border: none;
}

/* footer */
footer {
  background-color: black;
  width: 100%;
  /* height : 272px; */
  color: white;
}
.first-line {
  border-bottom: 1px solid #392d23;
}
.second-line a {
  text-decoration: none;
  color: white;
}
.third-line {
  display: none;
}

@media screen and (max-width: 48rem){
  .first-line {
    text-align: center;
  }
  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #392d23;
  }
  .third-line {
    display: block;

  }
}